@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Rowdies:wght@300;400;700&display=swap');

:root {
    --color-1: #F2055C;
    --color-2: #F24182;
    --color-3: #049DD9;
    --color-4: #F2B705;
    --color-5: #F2EBDC;
    --color-6: #373737;
    --color-7: #FFFFFF;
    --color-8: rgba(0, 0, 0, 0.33);
}

* {
    margin: 0;
    font-family: "Rowdies", sans-serif;
    text-decoration: none;
    color: var(--color-7);
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: var(--color-5);
    color: var(--color-3);
}

.side-bar-container {
    position: fixed;
    display: flex;
    height: 100vh;
}

/* Barra Lateral */
.side-bar {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-3);
    color: var(--color-7);
    transition: 0.3s ease;
}

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.game-dog {
    font-size: 2.8rem;
    font-weight: bold;
    margin-top: 35px;
}

/* Opções */
.mini-game-container {
    display: flex;
    margin-top: 100px;
}

.mini-games, .images, .about {
    font-size: 1.7rem;
    font-weight: bold;
}

#arrow-mini-game {
    font-size: 1.7rem;
    margin-left: 15px;
    transition: 0.3s ease;
}

/* Sub-Opções */
.sub-options {
    display: none;
}

.sub-options a h3 {
    font-size: 18px;
    margin-left: 25px;
}

/* Rodapé */
footer {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

/* Abrir/fechar Sidebar */
.close-open-side-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-3);
    border-radius: 0 10px 10px 0;
    width: 50px;
    height: 60px;
    margin-top: 35px;
}

#arrow-side-bar {
    background-color: transparent;
    color: var(--color-7);
    font-size: 40px;
}

iframe {
    width: 100%;
}

/* Notebook */
@media (max-width: 1400px) {
    .side-bar {
        width: 275px;
    }
    
    #arrow-mini-game {
        font-size: 1.5rem;
        margin-left: 5px;
    }

    .close-open-side-bar {
        width: 37px;
        height: 45px;
        margin-top: 33px;
    }

    #arrow-side-bar {
        font-size: 32px;
    }

    footer {
        font-size: 14px;
    }
}

/* Tablet */
@media (max-width: 1024px) {
    .side-bar {
        width: 250px;
    }

    .game-dog {
        font-size: 2.5rem;
    }

    .mini-games, .images, .about {
        font-size: 1.5rem;
    }

    .sub-options a h3 {
        font-size: 16px;
    }

    #arrow-side-bar {
        font-size: 32px;
    }

    footer {
        font-size: 10px;
    }
}

/* Smartphone Retrato*/
@media (max-width: 768px) {
    .side-bar {
        width: 225px;
    }

    .game-dog {
        font-size: 2.2rem;
    }

    .mini-games, .images, .about {
        font-size: 1.4rem;
    }

    .sub-options a h3 {
        font-size: 14px;
    }

    .close-open-side-bar {
        width: 37px;
        height: 45px;
        margin-top: 33px;
    }
}