@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Rowdies:wght@300;400;700&display=swap');

:root {
    --color-1: #F2055C;
    --color-2: #F24182;
    --color-3: #049DD9;
    --color-4: #F2B705;
    --color-5: #F2EBDC;
    --color-6: #373737;
    --color-7: #FFFFFF;
    --color-8: rgba(0, 0, 0, 0.33);
}

* {
    margin: 0;
    font-family: "Rowdies", sans-serif;
    text-decoration: none;
    color: var(--color-7);
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-5);
}

/* Conteúdo Principal */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--color-5);
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 55%;
}

.round-count {
    margin: 15px 0 30px 0;
    color: #049DD9;
    text-align: center;
    width: 60px;
    height: 60px;
    font-size: 48px;
    font-weight: bold;
    border: solid 8px #049DD9;
    border-radius: 50%;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    color: #F2055C;
}

p {
    font-size: 28px;
    color: #F2055C;
}

.img-dog {
    width: 400px;
    height: 400px;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
}

.alternatives {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 90px;
}

.alternative {
    padding: 15px 15px;
    text-align: center;
    font-size: 24px;
    color: #FFFFFF;
    background-color: #F2055C;
    border-radius: 15px;
}

/* Card */
.card {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 500px;
    height: 500px;
    left: 50vw;
    top: 50vh;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: #dedede;
    box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.1);
}

.header-card {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 35%;
    border-radius: 10px 10px 0 0;
    background-color: #049DD9;
}

.card .header-card h2 {
    margin-top: 35px;
    color: #FFFFFF;
}

.card h2, .card p {
    color: var(--color-6);
}

.medal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 13%;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: #F2055C;
}

i {
    font-size: 64px;
    background-color: #F2055C;
    color: var(--color-7);
}

.main-card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-card p {
    margin: 0 25px;
}

.main-card p span {
    color: #F2055C;
}

.button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 25px;
}

.next-button {
    width: 85px;
    height: 23px;
    padding: 13px 15px;
    margin-right: 15px;
    border-radius: 10px;
    background-color: #F2055C;
}

.loader {
    display: none;
    position: fixed;
    left: 48.5vw;
    top: 48.5vh;
    width: 55px;
    height: 55px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #049DD9;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}